<% @title = "Errors #{"for #{@app.name}" if @app}" %>

<table class="table table-bordered table-striped">
<thead>
  <tr>
    <th>ID</th>
    <th>Error Class</th>
    <th>Message</th>
    <th>Status</th>
    <th>Occurred On</th>
  </tr>
</thead>
<tbody>
<% @errors.each do |error| %>
  <tr>
    <td><a href="/error/<%= error.id %>"><%= error.id %></a></td>
    <td><%=h error.error_class %></td>
    <td><%=h error.message %></td>
    <td><%=h error.status %></td>
    <td><%=h error.created_at.strftime('%F %T') %></td>
  </tr>
<% end %>
</tbody>
</table>

<% if @app %>
  <h2>Recorder/Reporter Info</h2>
  <ul>
    <li>KaeruEra::Recorder.new('<%= @app.db.uri %>', '<%= @app.user.email %>', '<%=h @app.name %>')</li>
    <li>KaeruEra::Reporter.new('http://<%=h env['HTTP_HOST'] %>/report_error', <%= @app.id %>, '<%=h @app.token %>')</li>
  </ul>
<% end %>
