<% @title = "Error #{@error.id}" %>

<h2>Info</h2>
<ul>
  <li>User: <%= @error.application.user.email %></li>
  <li>Application: <a href="/applications/<%= @error.application_id %>/errors"><%= @error.application.name %></a></li>
  <li>Class: <a href="/search?search=Search&amp;application_id=<%= @error.application_id %>&amp;class=<%= url_escape(@error.error_class)%>"><%= @error.error_class %></a></li>
  <li>Message: <a href="/search?search=Search&amp;application_id=<%= @error.application_id %>&amp;message=<%= url_escape(@error.message)%>"><%= @error.message %></a></li>
  <li>Status: <%= @error.status %></li>
  <li>Occured On: 
  <% at = @error.created_at %>
<a href="/search?search=Search&amp;application_id=<%= @error.application_id %>&amp;occurred_after=<%= at.year %>-01-01&amp;occurred_before=<%= at.year+1 %>-01-01"><%= at.year %></a> -
<a href="/search?search=Search&amp;application_id=<%= @error.application_id %>&amp;occurred_after=<%= at.strftime('%Y-%m-01') %>&amp;occurred_before=<%= (Date.new(at.year, at.month)>>1).strftime('%Y-%m-01')%>"><%= sprintf('%02i', at.month) %></a> -
<a href="/search?search=Search&amp;application_id=<%= @error.application_id %>&amp;occurred_after=<%= at.strftime('%Y-%m-%d') %>&amp;occurred_before=<%= (Date.new(at.year, at.month, at.mday)+1).strftime('%Y-%m-%d') %>"><%= sprintf('%02i', at.mday) %></a> T 
<a href="/search?search=Search&amp;application_id=<%= @error.application_id %>&amp;occurred_after=<%= at.strftime('%Y-%m-%dT%H:00:00') %>&amp;occurred_before=<%= (at+3600).strftime('%Y-%m-%dT%H:00:00') %>"><%= sprintf('%02i', at.hour) %></a> :
<a href="/search?search=Search&amp;application_id=<%= @error.application_id %>&amp;occurred_after=<%= at.strftime('%Y-%m-%dT%H:%M:00') %>&amp;occurred_before=<%= (at+60).strftime('%Y-%m-%dT%H:%M:00') %>"><%= sprintf('%02i', at.min) %></a> :
<a href="/search?search=Search&amp;application_id=<%= @error.application_id %>&amp;occurred_after=<%= at.strftime('%Y-%m-%dT%H:%M:%S') %>&amp;occurred_before=<%= (at+1).strftime('%Y-%m-%dT%H:%M:%S') %>"><%= sprintf('%02i', at.sec) %></a>
  </li>
</ul>

<% if @error.closed && @error.notes && !@error.notes.empty? %>
  <h2>Error Notes</h2>
  <p><%= @error.notes %></p>
<% else %>
  <h2>Update Error</h2>
  <%== form(@error, {:action=>"/update_error/#{@error.id}", :method=>'post', :class=>'row'}, :wrapper=>nil) do |f| %>
    <div class="row">
      <div class="col-md-8"><%== f.input(:notes, :as=>:textarea, :cols=>80, :rows=>6) %></div>
      <div class="col-md-4"><%== f.input(:checkbox, :no_hidden=>true, :value=>'1', :name=>'close', :id=>'close', :label=>'Close Error?', :obj=>nil) %><br /><br />
      <%== f.button(:class=>'btn btn-primary', :value=>'Update Error') %></div>
    </div>
  <% end %>
<% end %>

<h2>Backtrace</h2>
<ol>
<% @error.backtrace.each do |line| %>
  <li><a href="/search?search=Search&amp;application_id=<%= @error.application_id %>&amp;backtrace=<%= url_escape(line)%>"><%= line %></a></li>
<% end %>
</ol>

<% [:params, :session, :env].each do |type| %>
  <% if (h = @error.send(type)) && (h = h.sort) %>
  <table class="table table-bordered table-striped error-info">
  <caption><%= type %></caption>
  <thead>
    <tr>
      <th class="key">Key</th>
      <th class="value">Value</th>
    </tr>
  </thead>
  <tbody>
    <% h.each do |k, v| %>
      <tr>
        <td class="key"><a href="/search?search=Search&amp;application_id=<%= @error.application_id %>&amp;field=<%= type %>&amp;key=<%= url_escape(k) %>"><%= k %></a></td>
        <td class="value"><a href="/search?search=Search&amp;application_id=<%= @error.application_id %>&amp;field=<%= type %>&amp;key=<%= url_escape(k) %>&amp;value=<%= url_escape(v) %>&amp;field_type=<%= @error.json_type_indicator(v) %>"><%= v.nil? ? '(null)' : v %></a></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <% end %>
<% end %>
