<% @title = "Error #{@error.id}" %>

<h2>Info</h2>
<ul>
  <li>User: <%=h @error.application.user.email %></li>
  <li>Application: <a href="/applications/<%= @error.application_id %>/errors"><%=h @error.application.name %></a></li>
  <li>Class: <a href="/search?search=Search&amp;application_id=<%= @error.application_id %>&amp;class=<%=h url_escape(@error.error_class)%>"><%=h @error.error_class %></a></li>
  <li>Message: <a href="/search?search=Search&amp;application_id=<%= @error.application_id %>&amp;message=<%=h url_escape(@error.message)%>"><%=h @error.message %></a></li>
  <li>Status: <%=h @error.status %></li>
  <li>Occured On: 
<a href="/search?search=Search&amp;application_id=<%= @error.application_id %>&amp;occurred_after=<%= @error.created_at.year %>-01-01&amp;occurred_before=<%= @error.created_at.year+1 %>-01-01"><%= @error.created_at.year %></a> -
<a href="/search?search=Search&amp;application_id=<%= @error.application_id %>&amp;occurred_after=<%= @error.created_at.year %>-<%= sprintf('%02i', @error.created_at.month) %>-01&amp;occurred_before=<%= @error.created_at.year %>-<%= sprintf('%02i', @error.created_at.month+1) %>-01"><%= sprintf('%02i', @error.created_at.month) %></a> -
<a href="/search?search=Search&amp;application_id=<%= @error.application_id %>&amp;occurred_after=<%= @error.created_at.year %>-<%= sprintf('%02i', @error.created_at.month) %>-<%= sprintf('%02i', @error.created_at.day) %>&amp;occurred_before=<%= @error.created_at.year %>-<%= sprintf('%02i', @error.created_at.month) %>-<%= sprintf('%02i', @error.created_at.day+1) %>"><%= sprintf('%02i', @error.created_at.day) %></a> T 
<a href="/search?search=Search&amp;application_id=<%= @error.application_id %>&amp;occurred_after=<%= @error.created_at.year %>-<%= sprintf('%02i', @error.created_at.month) %>-<%= sprintf('%02i', @error.created_at.day) %>T<%= sprintf('%02i', @error.created_at.hour) %>:00:00&amp;occurred_before=<%= @error.created_at.year %>-<%= sprintf('%02i', @error.created_at.month) %>-<%= sprintf('%02i', @error.created_at.day) %>T<%= sprintf('%02i', @error.created_at.hour+1) %>:00:00"><%= sprintf('%02i', @error.created_at.hour) %></a> :
<a href="/search?search=Search&amp;application_id=<%= @error.application_id %>&amp;occurred_after=<%= @error.created_at.year %>-<%= sprintf('%02i', @error.created_at.month) %>-<%= sprintf('%02i', @error.created_at.day) %>T<%= sprintf('%02i', @error.created_at.hour) %>:<%= sprintf('%02i', @error.created_at.min) %>:00&amp;occurred_before=<%= @error.created_at.year %>-<%= sprintf('%02i', @error.created_at.month) %>-<%= sprintf('%02i', @error.created_at.day) %>T<%= sprintf('%02i', @error.created_at.hour) %>:<%= sprintf('%02i', @error.created_at.min+1) %>:00"><%= sprintf('%02i', @error.created_at.min) %></a> :
<a href="/search?search=Search&amp;application_id=<%= @error.application_id %>&amp;occurred_after=<%= @error.created_at.year %>-<%= sprintf('%02i', @error.created_at.month) %>-<%= sprintf('%02i', @error.created_at.day) %>T<%= sprintf('%02i', @error.created_at.hour) %>:<%= sprintf('%02i', @error.created_at.min) %>:<%= sprintf('%02i', @error.created_at.sec) %>&amp;occurred_before=<%= @error.created_at.year %>-<%= sprintf('%02i', @error.created_at.month) %>-<%= sprintf('%02i', @error.created_at.day) %>T<%= sprintf('%02i', @error.created_at.hour) %>:<%= sprintf('%02i', @error.created_at.min) %>:<%= sprintf('%02i', @error.created_at.sec+1) %>"><%= sprintf('%02i', @error.created_at.sec) %></a>
  </li>
</ul>

<% if @error.closed && @error.notes && !@error.notes.empty? %>
  <h2>Error Notes</h2>
  <p><%=h @error.notes %></p>
<% else %>
  <h2>Update Error</h2>
  <% form(@error, {:action=>"/update_error/#{@error.id}", :method=>'post', :class=>'row'}, :wrapper=>nil) do |f| %>
    <%= Rack::Csrf.tag(env) %>
    <div class="span8"><%= f.input(:notes, :name=>:notes, :as=>:textarea, :cols=>80, :rows=>6) %></div>
    <div class="span4"><%= f.input(:checkbox, :no_hidden=>true, :value=>'1', :name=>'close', :id=>'close', :label=>'Close Error?', :obj=>nil) %><br /><br />
    <%= f.button(:class=>'btn btn-primary', :value=>'Update Error') %></div>
  <% end %>
<% end %>

<h2>Backtrace</h2>
<ol>
<% @error.backtrace.each do |line| %>
  <li><a href="/search?search=Search&amp;application_id=<%= @error.application_id %>&amp;backtrace=<%=h url_escape(line)%>"><%=h line %></a></li>
<% end %>
</ol>

<% [:params, :session, :env].each do |type| %>
  <% if (h = @error.send(type)) && (h = h.sort) %>
  <table class="table table-bordered table-striped error-info">
  <caption><%= type %></caption>
  <thead>
    <tr>
      <th class="key">Key</th>
      <th class="value">Value</th>
    </tr>
  </thead>
  <tbody>
    <% h.each do |k, v| %>
      <tr>
        <% if type == :env %>
          <td class="key"><a href="/search?search=Search&amp;application_id=<%= @error.application_id %>&amp;env_key=<%=h url_escape(k)%>"><%=h k %></a></td>
          <td class="value"><a href="/search?search=Search&amp;application_id=<%= @error.application_id %>&amp;env_key=<%=h url_escape(k)%>&amp;env_value=<%=h url_escape(v)%>"><%=h v %></a></td>
        <% else %>
          <td class="key"><%=h k %></td>
          <td class="value"><%=h v %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
  </table>
  <% end %>
<% end %>
