<% @title = "Error #{@error.id}" %>

<h2>Info</h2>
<ul>
  <li>User: <%=h @error.application.user.email %></li>
  <li>Application: <%=h @error.application.name %></li>
  <li>Class: <%=h @error.error_class %></li>
  <li>Message: <%=h @error.message %></li>
  <li>Status: <%=h @error.status %></li>
  <li>Occured On: <%=h @error.created_at.strftime('%F %T') %></li>
</ul>

<% if @error.closed && @error.notes && !@error.notes.empty? %>
  <h2>Error Notes</h2>
  <p><%=h @error.notes %></p>
<% else %>
  <h2>Update Error</h2>
  <% form(@error, {:action=>"/update_error/#{@error.id}", :method=>'post', :class=>'row'}, :wrapper=>nil) do |f| %>
    <%= Rack::Csrf.tag(env) %>
    <div class="span8"><%= f.input(:notes, :name=>:notes, :as=>:textarea, :cols=>80, :rows=>6) %></div>
    <div class="span4"><%= f.input(:checkbox, :no_hidden=>true, :value=>'1', :name=>'close', :id=>'close', :label=>'Close Error?', :obj=>nil) %><br /><br />
    <%= f.button(:class=>'btn btn-primary', :value=>'Update Error') %></div>
  <% end %>
<% end %>

<h2>Backtrace</h2>
<ol>
<% @error.backtrace.each do |line| %>
  <li><a href="/search?search=Search&amp;backtrace=<%=h url_escape(line)%>"><%=h line %></a></li>
<% end %>
</ol>

<% [:params, :session, :env].each do |type| %>
  <% if (h = @error.send(type)) && (h = h.sort) %>
  <table class="table table-bordered table-striped error-info">
  <caption><%= type %></caption>
  <thead>
    <tr>
      <th class="key">Key</th>
      <th class="value">Value</th>
    </tr>
  </thead>
  <tbody>
    <% h.each do |k, v| %>
      <tr>
        <td class="key"><%=h k %></td>
        <td class="value"><%=h v %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <% end %>
<% end %>
