<% @title = "Errors #{"for #{@app.name}" if @app}" %>

<table class="table table-bordered table-striped">
<thead>
  <tr>
    <th>ID</th>
    <th>Error Class</th>
    <th>Message</th>
    <th>Status</th>
    <th>Occurred On</th>
  </tr>
</thead>
<tbody>
<% @errors.each do |error| %>
  <tr>
    <td><a href="/error/<%= error.id %>"><%= error.id %></a></td>
    <td><%=h error.error_class %></td>
    <td><%=h error.message %></td>
    <td><%=h error.status %></td>
    <td><%=h error.created_at.strftime('%F %T') %></td>
  </tr>
<% end %>
</tbody>
</table>

<%= previous_page %>
<%= next_page %>

<% if @app %>
  <h2><a href="/applications/<%= @app.id %>/reporter_info">Reporter Info</a></h2>
<% end %>
