<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>KaeruEra<%= " - #{@title}" if @title %></title>
<link rel="stylesheet" type="text/css" href="/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/application.css" />
</head>

<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a href="/" class="brand">KaeruEra</a>

      <ul class="nav">
        <li><a href="/search">Search</a></li>
      </ul>
      <% if session[:user_id] %>
        <form action="/logout" class="button_to" method="post">
          <%== csrf_tag %>
          <input class="btn btn-warning pull-right" type="submit" value="Logout" />
        </form>
      <% end %>
    </div>
  </div>
</div>

<div class="container" id="content">
  <% if flash[:notice] %>
    <div class="alert alert-success"><p><%= flash[:notice] %></p></div>
  <% end %>
  <% if flash[:error] %>
    <div class="alert alert-error"><p><%= flash[:error] %></p></div>
  <% end %>
  <%== "<h1>#{h @title}</h1>" if @title %>
  <%== yield %>
</div>

</body></html>
