<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>KaeruEra<%= " - #{@title}" if @title %></title>
<%== assets(:css) %>
</head>

<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">KaeruEra</a>
    </div>

      <ul class="nav navbar-nav">
        <li><a href="/search">Search</a></li>
      </ul>
      <% if session['user_id'] %>
        <form action="/logout" class="navbar-form" method="post">
          <%== csrf_tag("/logout") %>
          <input class="btn btn-warning pull-right form-control" type="submit" value="Logout" />
        </form>
      <% end %>
    </div>
  </div>
</nav>

<div class="container" id="content">
  <% if flash['notice'] %>
    <div class="alert alert-success"><%= flash['notice'] %></div>
  <% end %>
  <% if flash['error'] %>
    <div class="alert alert-danger"><%= flash['error'] %></div>
  <% end %>
  <%== "<h1>#{h @title}</h1>" if @title %>
  <%== yield %>
</div>

</body></html>
