<% @title = "Reporter Info for #{@app.name}" %>

<h2>Reporter</h2>

<pre>KaeruEra::Reporter.new('http://<%= env['HTTP_HOST'] %>/report_error', <%= @app.id %>, '<%= @app.token %>')</pre>

<h2>AsyncReporter</h2>

<pre>KaeruEra::AsyncReporter.new('http://<%= env['HTTP_HOST'] %>/report_error', <%= @app.id %>, '<%= @app.token %>')</pre>
